*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
} 
 

 .carousel-inner img {
    width: 100%;
    height: 90vh;
  } 


.custom-font {
  font-size: large;
}

.custom-heading {
  font-size: medium;
}

/* Add this to your existing Style.css or in a style block in the head of your HTML */
.navbar.bg-custom-brown {
  background-color: #d2b48c; /* Replace with your desired color code */
}

